<ion-content [fullscreen]="true">
  <ion-card class="profile">
    <div class="profile__info">
      <ion-avatar>
        <img src="https://picsum.photos/50" alt="">
      </ion-avatar>
      <p>
        <a href="https://www.linkedin.com/in/d-cubides-alaix/">Daniela Cubides Alaix</a> <br>
        <span>Desarrolladora FrontEnd</span>
      </p>
    </div>

    <div class="profile__info">
      <ion-item lines="none">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>Quién ha visto tu perfil</p>
          <span class="number">13</span>
        </div>
      </ion-item>
      <ion-item lines="none">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>Contactos <br> <span>Amplía tu red</span></p>
          <span class="number">100</span>
        </div>
      </ion-item>
    </div>

    <div class="profile__info">
      <ion-item lines="none">
        <p>Accede a información y herramientas exclusivas <br>
          <a href="">
            <ion-icon name="card" color="warning"></ion-icon>
            Consigue que te contraten más rápido. Prueba Premium gratis.</a>
        </p>
      </ion-item>
    </div>

    <div class="profile__info">
      <ion-item lines="none">        
        <ion-icon name="bookmark"></ion-icon>
        <p> <span> Marcapáginas </span></p>
      </ion-item>
      
    </div>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis páginas (2)</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://picsum.photos/50" alt="">
        </ion-avatar>
        <ion-label>
          <span>Principal</span>
          <p>Notificaciones de la página <br>
            <span class="number">2</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://picsum.photos/50" alt="">
        </ion-avatar>
        <ion-label>
          <span>Principal</span>
          <p>Notificaciones de la página <br>
            <span class="number">2</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>