@import 'variables.scss';
@import 'breakpoints.scss';

ion-content {
  --background: $bg-main;
}

ion-card {
  padding: 0;
  box-shadow: none;
  border: 1px solid $border;
  border-radius: 12px;
  background-color: $white;
}

#container {
  max-width: 1128px;
  margin: 0 auto;

  @include lg {
    max-width: 960px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 576px;
  }
}

.spacer {
  flex: 1 1 auto;
}

ion-card-title {
  font-size: 16px;
  font-weight: 500;
}

ion-popover {
  --min-height: 18em;
  --min-width: 28em;
  --max-height: 18em;
  --max-width: 28em;
}

/* SCROLL */
.container {
  overflow-y: auto;
  max-height: calc(100vh - 20px);
  height: calc(100vh - 20px);
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: $gray;
  margin-block: 2px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
  background-color: #A3A0A0;
}